@charset "UTF-8";

*{
    padding:0px;
    margin:0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    display:flex;
    justify-content: space-evenly;
    padding: 12px 0px;
    background-color: yellow;
    box-shadow: 1px 1px 1px black;
}

nav > a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    padding:5px;
    border-radius: 2px;
    transition: background-color, 0.5s;
}

nav > a:hover{
    background-color: green;
    color:white;
}



main{
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    height: 92.3vh;
    background-image: linear-gradient(to bottom, blue, rgb(204, 204, 252));
}

div#titulo{
    padding:20px;
    text-align: center;

}

div#titulo > h1{
    text-shadow: 1px 1px 1px white;
    font-size: 40px;
    padding:10px;
    
}

div#titulo > p{
    margin-top: 15px;
    color:aquamarine;
    text-shadow: 1px 1px 1px black;
}

div.escolha{
    padding:20px;
    text-align: center;
}


div.escolha > p{
    padding: 10px;
    color:rgb(2, 49, 15);
    font-weight: 700;
    text-shadow: 1px 1px 1px white;
    font-size: 20px;
    background-image: linear-gradient(to right, #7272FD, yellow, #7272FD);
}

div.escolha > button{
    margin: 50px ;
    padding: 15px;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-weight: bolder;
    transition: background-color 0.5s;
}

div.escolha > button:hover{
    background-color: rgb(241, 227, 64);
    color: black;
    box-shadow: 1px 1px 1px black;
}

div#escolha_modo > button{
    margin: 50px ;
    padding: 15px;
}


div#escolha_dificuldade > button{
    margin: 20px;
    padding: 10px;
}


div#game{
   display:flex;
   flex-flow: column nowrap;
   align-items: center;
   justify-content: center;
   width: 90%;
   height: 100%;
   text-align: center;
   
}

div#game > h2{
    margin: 50px 0px;
    color:white;
    text-shadow: 1px 1px 1px black;

}

div#game > div.card{
    display: inline-block;
    height: 20%;
    width: 40%;
    background-color: #1b0101;
    margin: 0px 12px 50px 12px;
    border-radius: 20px;
}

div#game > div.card > h1{
    color:white;
    font-weight: bolder;
    margin-top:25%;
}

div#game > button#start{
    margin: auto;
    padding: 12px;
    border-radius: 10px;
    background-color: green;
    font-weight:bold;
}

div#game > div#alternativas > button{
    margin:20px;
    padding:30px;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-weight: bold;
}







@media screen and (min-width:999px){

    nav > a{
        width:150px;
        text-align: center;
        border-radius: 8px;
    }

    nav #login{
        margin-left:300px; 
    }

    main{
        flex-direction: row;
    }

    div#titulo{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }

    div#titulo > h1{
        font-size: 70px;
    }


    div#titulo > p{
        font-size: 18px;
        margin-top:60px;
        color: rgb(2, 38, 26);
        text-shadow: 1px 1px 1px white;
        font-weight: bold;
    }



    div.escolha > p{
        background-image: none;
        color: white;
    }

    div.escolha > button{
        width:250px;
    }

     div#escolha_modo{
        display:flex;
        flex-direction: column; 
        justify-content: center;
    }


    div#escolha_dificuldade > button{
        height: 60px;
    }


    div#game{
        display:flex;
        flex-flow: column nowrap;
        width: 60%;
        height: 100%;
        text-align: center;
    }

    div#game > div.card{
        display: inline-block;
        height: 20%;
        width: 40%;
        background-color: #1b0101;
        margin: 25px;
    }


    
    div#game > div.card > h1{
        color:white;
        font-weight: bolder;
        margin-top:10%;
    }
}

