@charset "UTF-8";

body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width:100vw;
    background-image: linear-gradient(to bottom, rgb(24, 4, 247), rgb(156, 156, 201));
}

main{
  
    height:80%;
    width:70%;
    
    background-color: rgb(27, 195, 241);
    border-radius: 10%;
    box-shadow: 0px 0px 18px black;
}

main > img{

    height: 50%;
    width: 100%;

    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

main > form{
    height: 50%;
    width: 100%;
}




@media screen and (min-width:900px){
    main > img{
        display:inline;
        height: 100%;
        width: 50%;
        border-bottom-left-radius:10%;
    } 

    main > form{
        display:inline;
        height: 100%;
        width:50%;
    }
}