<header>
    {{>_msg}}
    <nav>
        <a href="/game/home">Home</a>
        <a href="/game/perfil">Meu perfil</a>
        <a href="#">Rankings</a>
        <a href="/game/logout">Sair</a>
    </nav>
</header>