@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body, html{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

main{
    height: 100vh;
    width:100vw;
    background-image: linear-gradient(to bottom, blue, rgb(204, 204, 252));
    text-align: center;
}

h1{
    color: white;
    text-align: center;
    padding:40px;
}

div#selecao{
    display: flex;
    justify-content: center;
    height: 40%;
    width: 100%;
}

div#esquerda{
    background-color: blue;
    width: 20%;
    height: 80%;
    padding: 10px;
    margin: auto 10px auto 0;
    border-radius: 10px;
    box-shadow: inset -3px 0px 20px 0px black;
}

div#centro{
    background-color: aqua;
    width: 40%;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px black;
}

div#direita{
    background-color: blueviolet;
    width: 20%;
    height: 80%;
    padding: 10px;
    margin: auto 0 auto 10px;
    border-radius: 10px;
    box-shadow: inset 3px 0px 20px 0px black;
}

button#recuar{
    height: 50%;
    width: 30px;
    margin: auto 10px auto 0;
    font-weight: bold;
    border-radius: 5px;
}

button#avancar{
    height: 50%;
    width: 30px;
    margin: auto 0 auto 10px;
    font-weight: bold;
    border-radius: 5px;
}

input{
    padding: 20px;
    border-radius: 10px;
    margin: 60px;
}
