@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root{
    --background: linear-gradient(to bottom, blue, rgb(204, 204, 252));
    --esquerda: blue;
    --centro: aqua;
    --direita: blueviolet;
    --shadow:black;
}


.escuro{
    --navBackground: blue;
    --navColor: white;
    --navColorHover: black;
    --linkBackgroundHover: red;

    --background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(0, 0, 0));
    --esquerda: rgb(255, 0, 0);
    --centro: rgb(4, 255, 0);
    --direita: rgb(255, 251, 0);
    --shadow:white;
}


body, html{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

main{
    height: 100vh;
    width:100vw;
    background-image: var(--background);
    text-align: center;
}

h1{
    color: white;
    text-align: center;
    padding:40px;
}

div#selecao{
    display: flex;
    justify-content: center;
    height: 40%;
    width: 100%;
}

div#esquerda{
    background-color: var(--esquerda);
    width: 20%;
    height: 80%;
    padding: 10px;
    margin: auto 10px auto 0;
    border-radius: 10px;
    box-shadow: inset -3px 0px 20px 0px var(--shadow);
}

div#centro{
    background-color: var(--centro);
    width: 40%;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px var(--shadow);
}

div#direita{
    background-color: var(--direita);
    width: 20%;
    height: 80%;
    padding: 10px;
    margin: auto 0 auto 10px;
    border-radius: 10px;
    box-shadow: inset 3px 0px 20px 0px var(--shadow);
}

button#recuar{
    height: 50%;
    width: 30px;
    margin: auto 10px auto 0;
    font-weight: bold;
    border-radius: 5px;
}

button#avancar{
    height: 50%;
    width: 30px;
    margin: auto 0 auto 10px;
    font-weight: bold;
    border-radius: 5px;
}

input{
    padding: 20px;
    border-radius: 10px;
    margin: 60px;
    font-weight:bold;
}
