@charset "UTF-8";

*{
   margin: 0px;
   padding:0px;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
}

:root{
    --background: linear-gradient(to right, rgb(15, 15, 222), rgb(52, 91, 169));
    --background-animation: rgb(211, 125, 13);
    --background-info: rgb(2, 171, 2);
    --background-span: white;
}

.escuro{
   
    --navBackground: blue;
    --navColor: white;
    --navColorHover: black;
    --linkBackgroundHover: red;

    --background:linear-gradient(to right, rgb(0, 0, 0), rgb(100, 0, 0));
    --background-animation: rgb(255, 145, 0);
    --background-info: rgb(0, 255, 0);
    --background-span: rgb(255, 0, 0);
}

body, html{
    width: 100vw;
    height: 100vh;
}

main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 83.5%;
    background-image: var(--background);
    padding:30px;
}

main > h1{
    color:white;
    font-size: 4em;
    margin-bottom: 40px;
}

main > #perfil{
    display:flex;
    justify-content: center;
    background-image: var(--background);
    width: 100%;
    height: 70%;
 
   
}

div#animacao{
    background-color: var(--background-animation);
    position:relative;
    overflow: hidden;
    border-radius: 50%;
    height: 50%;
    width: 30%;
    margin: auto 50px auto 0;
    box-shadow: 0px 0px 10px 0px black
}


div#animacao > img{
    position:absolute;
    height:70%;
    width:60%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%); 
}

div#info > h3{
    padding: 10px;
    background-color: var(--background-info);
    border-radius: 10px;
    color:rgb(0, 0, 0);
    margin: 20px;
    box-shadow: 0px 0px 8px 0px black;
}

div#info > h3 > span{
    color: var(--background-span);
}

div#info > button, a > button{
    padding: 10px;
    background-color: aliceblue;
    border-radius: 8px;
    font-weight: bold;
} 


div#card{
    display:none;
    position:absolute;
    background-color: grey;
    border-radius: 20px;
    box-shadow: 0px 0px 9px 4px black;
    z-index: 1000;
}

div#card > form{
    padding:50px;
}

div#card > button{
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

div#card label{
    color:white;
    margin: 10px;
}

div#card  input{
   padding: 10px;
   background-color: aliceblue;
   border-radius: 8px; 
   margin:10px;
}



@media screen and (max-width:1000px){
    #perfil{
        flex-direction: column;
        height: 87.4%;
    }

    div#animacao{
    background-color: rgb(211, 125, 13);
    position:relative;
    overflow: hidden;
    border-radius: 50%;
    height: 20%;
    width: 60%;
    margin: 20px auto;
}
}