@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px
}

body,html{
    height: 100vh;
    width: 100vw;
}

main{
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, blue, rgb(204, 204, 252));
    
}

div#card{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: gainsboro;
    border-radius: 20px;
    padding: 100px;
    text-align: center;
    box-shadow: 0px 0px 20px 0px black;
}

div#card > h1{
    padding: 10px;
    font-size: 3em;
}

div#card > h2{
    padding:20px;
}

div#card > a > button{
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    font-weight: bold;

}





