@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root{
   --background: rgb(43, 43, 249);
   --background-escolha: aquamarine;
   --color-escolha: black;
   --background-posicao:orangered;
   --background-usuario:aqua;
   --shadow: black;
   --background-info: aquamarine;
   --color-info:black;
   
}


.escuro{
    --navBackground: blue;
    --navColor: white;
    --navColorHover: black;
    --linkBackgroundHover: red;

    --background: rgb(0, 0, 0);
    --background-escolha: rgb(253, 160, 0);
    --color-escolha: black;
    --background-posicao:red;
    --background-usuario:rgb(119, 0, 255);
    --shadow:white;
    --background-info: rgb(48, 26, 249);
    --color-info:white;
}


main{
    padding: 10px;
    background-color: var(--background);
}

div#escolha{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 50%;
    margin: auto;
    padding: 50px; 
    
}

div#escolha > a{
    padding: 10px;
    background-color: var(--background-escolha);
    margin: 0 7%;
    border-radius: 10px;
    text-decoration: none;
    color: var(--color-escolha);
    font-weight: bold;
}

div#ranking{
    margin:auto;
    width: 50%;
    text-align: center;
}

div.posicao{
    padding: 10px;
    background-color: var(--background-posicao);
    border-radius: 20px;
    color: white;
}

div.usuarios{
    display: flex;
    justify-content: space-between;
    background-color:var(--background-usuario);
    margin: 10px;
    padding: 10px 10px 10px 0;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 0px var(--shadow);
}



div.animacao{
    width: 30%;
    margin-right: 15px;
}

img{
    width: 50%;
    height: 50%;
    margin: 40px auto;
}

div.info{
    margin: auto 0;
    background-color: var(--background-info);
    color:var(--color-info);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 0px var(--shadow);
}

div.info > h1, p{
    margin-bottom: 15px;
    font-size: 1rem;
    font-family:"Sour Gummy";
}




@media screen and (max-width:999px){

    div.info h1,p{
        font-size: 13px;
    }

    div#ranking{
        width: 70%;
    }

    div.usuarios{
        display: flex;
        flex-direction: column;
        padding: 5%;
    }

    div.animacao{
        margin: auto;
        height: 100px;
    }


    div.posicao p{
      margin: 0;
    }
}