@charset "UTF-8";

*{
    padding:0px;
    margin:0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


main{
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    height: 92.3vh;
    background-image: linear-gradient(to bottom, blue, rgb(204, 204, 252));
}

div#titulo{
    padding:20px;
    text-align: center;

}

div#titulo > h1{
    text-shadow: 1px 1px 1px white;
    font-size: 40px;
    padding:10px;
    
}

div#titulo > p{
    margin-top: 15px;
    color:aquamarine;
    text-shadow: 1px 1px 1px black;
}

div.escolha{
    padding:20px;
    text-align: center;
}


div.escolha > p{
    padding: 10px;
    color:rgb(2, 49, 15);
    font-weight: 700;
    text-shadow: 1px 1px 1px white;
    font-size: 20px;
    background-image: linear-gradient(to right, #7272FD, yellow, #7272FD);
}

div.escolha a{
    display: block;
    margin: 50px ;
    padding: 15px;
    border-radius: 10px;
    background-color: red;
    transition: background-color 0.5s;
    font-weight: bolder;
    text-decoration: none;
    color: white;
    box-shadow: 1px 5px 5px 0px black;
}



div.escolha a#ranqueado{
    animation: inflar 3s ease-in-out alternate infinite;
}

div.escolha a#personalizado{
    animation: inflar 3s 3s ease-in-out alternate infinite;
}

div.escolha a:hover{
    background-color: rgb(241, 227, 64);
    color: black;
    box-shadow: 1px 1px 1px black;
    cursor:pointer;
}


div#escolha_modo > a{
    margin: 50px ;
    padding: 15px;
}


div#escolha_dificuldade > a{
    margin: 20px;
    padding: 10px;
    width: 90%;
}



div#game{ 
   display:flex;
   flex-flow: column nowrap;
   align-items: center;
   justify-content: center;
   height: 100%;
   text-align: center;
   
}

div#game > h2{
    margin: 50px 0px;
    color:white;
    text-shadow: 1px 1px 1px black;

}

div#game > div.card{
    height: 20%;
    width: 40%;
    background-color: #1b0101;
    margin: 0px 12px 50px 12px;
    border-radius: 20px;
}

div#game > div.card > h1{
    color:white;
    font-weight: bolder;
    margin-top:25%;
}

div#game > button#start{
    margin: auto;
    padding: 12px;
    border-radius: 10px;
    background-color: green;
    font-weight:bold;
}

div#game > div#alternativas > button{
    margin:20px;
    padding:30px;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-weight: bold;
}


@keyframes inflar {
    to{
        transform: scale(1.2);
    }
}




@media screen and (min-width:999px){

    main{
        flex-direction: row;
    }

    div#titulo{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }

    div#titulo > h1{
        font-size: 70px;
    }


    div#titulo > p{
        font-size: 18px;
        margin-top:60px;
        color: rgb(2, 38, 26);
        text-shadow: 1px 1px 1px white;
        font-weight: bold;
    }



    div.escolha > p{
        background-image: none;
        color: white;
    }

    div.escolha a{
        width:250px;
    }

     div#escolha_modo{
        display:flex;
        flex-direction: column; 
        justify-content: center;
    }

    div#escolha_dificuldade{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }


    div#escolha_dificuldade  a{
        height: 30px;
    }


    div#game{
        display:flex;
        flex-flow: column nowrap;
        width: 80%;
        height: 100%;
        text-align: center;
    }

    div#game > div.card{
        display: inline-block;
        height: 20%;
        width: 20%;
        background-color: #1b0101;
        margin: 25px;
    }


    
    div#game > div.card > h1{
        color:white;
        font-weight: bolder;
        margin-top:10%;
    }
}

