<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/usuario.css"> <!--não é necessário especificar a pasta public, o app ja sabe que está la-->
    <link rel="stylesheet" href="/css/menu.css">
</head>
<body>
    {{>_menu}}
    <main>
       <div id="game">
             
             <input type="hidden" id="userId" value="{{User._id}}">
            <input type="hidden" id="dificuldade" value="{{dificuldade}}">

            <h2>Faça os Cáculos antes que o tempo se esgote</h2>

            <div id="info">
               <h3 >Tentativas: <p id="infoTent" style="display: inline;"></p></h3>
               <h3 >Tempo restante: <p id="infoTemp" style="display: inline;"></p></h3>
           </div>



            <div id="cards">
                <div class="card">
                    <h1 id="card1">0000</h1>
                </div>
                <div class="card">
                    <h1 id="card2">0000</h1>
                </div>
            </div>


            
            <button id="start">START</button>
            
            <div id="alternativas">
                <button class="altern" id="altern1">0000</button>
                <button class="altern" id="altern2">0000</button>
                <button class="altern" id="altern3">0000</button>
                <button class="altern" id="altern4">0000</button>
            </div>
        </div>
    </main>

    <script src="/script.js"></script>
    <script src="/modo_escuro.js"></script>
</body>
</html>