<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de cadastro</title>
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://kit.fontawesome.com/8623f200e5.js" crossorigin="anonymous"></script>
    <style>
        p.aviso{
            background-image: linear-gradient(to right, rgb(42, 202, 234), rgb(245, 245, 164), rgb(42, 202, 234) );
            font-size: 11px;
        }
        
        input[type="submit"]{
            display: block;
            text-align: center;
        }

       
    </style>
</head>
<body>
    <main>
        <img src="/img/einstein.jpg" alt="Einstein_image">
        <div id="formulario">
            {{>_msg}}
            {{#each erros}}
                 <div style="
                    width: 100%;
                    height: 24px;
                    background-color:red;
                    color: white;
                    text-align:center;
                    
                    margin:0 auto;
                ">{{texto}}</div>
            {{else}}

            {{/each}}
            <form action="/game/cadastro/fazercadastro" method="post">
    
                <p>
                    <label for="iemail"><i class="fa-solid fa-house"></i><b>E-mail:</b> </label>
                    <input type="email" name="email" id="iemail">
                </p>
                <p class="aviso"> A senha deve possuir de 5 a 10 caracteres, numericos e alfabéticos</p>
                <p>
                    <label for="ipassword"><i class="fa-solid fa-key"></i><b>Senha:</b> </label>
                    <input type="password" name="password" id="ipassword">
                </p>
                <input type="submit" value="Entrar">
            </form>
        </div>
    </main>
</body>
</html>