*{
   margin: 0px;
   padding:0px;
}

:root{
    --navBackground: yellow;
    --navColor: black;
    --navColorHover: white;
    --linkBackgroundHover: green;
}




header{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

nav{
    display:flex;
    justify-content: space-evenly;
    padding: 12px 0px;
    background-color: var(--navBackground);
    box-shadow: 1px 1px 1px black;
}

nav > a {
    text-decoration: none;
    color: var(--navColor);
    font-weight: bolder;
    padding:5px;
    border-radius: 7%;
    transition: background-color, 0.5s;
}

nav > a:hover{
    background-color: var(--linkBackgroundHover);
    color:var(--navColorHover);
}


@media screen and (min-width:999px){

    nav > a{
        width:150px;
        text-align: center;
    }

    nav #login{
        margin-left:300px; 
    }
}