<header>
    {{>_msg}}
    <nav>
        <a href="/game/home">Home</a>
        <a href="/game/perfil">Meu perfil</a>
        <a href="/game/rankings">Rankings</a>
        <a href="#" id="tema"><i class="fa-solid fa-sun"></i></a>
        <!--lua: <i class="fa-solid fa-moon"></i>-->
        <a href="/game/logout" onclick="if(!confirm('Deseja mesmo sair da sua conta?')){event.preventDefault()}">Sair</a>
    </nav>
</header>
