<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo dos calculos</title>
     <link rel="stylesheet" href="../public/login.css">
    <script src="https://kit.fontawesome.com/8623f200e5.js" crossorigin="anonymous"></script>
</head>
<body>    
    <main>
        <img src="../public/img/einstein.jpg" alt="Einstein_image">
        <div id="formulario">
            <form action="#" method="post">
                <p>
                    <label for="iname"><i class="fa-solid fa-house"></i><b>Nome:</b> </label>
                    <input type="text" name="name" id="iname" required minlength="5" maxlength="15">
                </p>
                <p>
                    <label for="ipassword"><i class="fa-solid fa-key"></i><b>Senha:</b> </label>
                    <input type="password" nome="password" id="ipassword" required minlength="5" maxlength="10">
                </p>
                <input type="submit" value="Entrar">
                <p>Não tem uma conta? Clique abaixo e crie uma</p>
                <button><a href="cadastro.html">Cadrastre-se</a></button>
            </form>
        </div>
    </main>
</body>
</html>