<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo dos calculos</title>
     <link rel="stylesheet" href="/css/login.css">
    <script src="https://kit.fontawesome.com/8623f200e5.js" crossorigin="anonymous"></script>
</head>
<body> 
        <main>
            <img src="/img/einstein.jpg" alt="Einstein_image">

            <div id="formulario">
               {{>_msg}}

                <form action="/game/login/fazerlogin" method="post">
                    <p>
                        <label for="iemail"><i class="fa-solid fa-house"></i><b>E-mail:</b> </label>
                        <input type="email" name="email" id="iemail" required>
                    </p>
                    <p>
                        <label for="ipassword"><i class="fa-solid fa-key"></i><b>Senha:</b> </label>
                        <input type="password" name="password" id="ipassword" required>
                    </p>
                    <input type="submit" value="Entrar">
                    <p>Não tem uma conta? Clique abaixo e crie uma</p>
                    <button><a href="/game/cadastro">Cadrastre-se</a></button>
                </form>
            </div>
        </main>
</body>
</html>