<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina principla</title>
    <link rel="stylesheet" href="../static/principal.css">
</head>
<body>
    <header>
        <nav>
            <a href="home.html">Home</a>
            <a href="perfil.html">Meu perfil</a>
            <a href="rankings.html">Rankings</a>
            <a href="estatisticas.html">Estatísticas</a>
            <a href="login.html" id="login">Entrar</a>
        </nav>
    </header>
    <main>
        <div id="titulo">
            <h1>Pensa rápido</h1>
            <p> o jogo feito para aguçar seu raciocínio matemático</p>
        </div>

        <div class="escolha" id="escolha_modo">
            <p>Escolha um modo de jogo:</p>
            <button id="ranqueado">Ranqueado</button>
            <button id="personalizado">Personalisado</button>
        </div>

        <div class="escolha" id="escolha_dificuldade" style="display:none">
            <p>Escolha a dificuldade:</p>
            <button>Fácil</button>
            <button>Médio</button>
            <button>Difícil</button>
            <button>Ultra Hard - só pra gênios</button>
        </div>
        
        
    </main>

     <script src="script.js"></script>
</body>
</html>